<ion-view view-title="Información">
  <ion-header-bar>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <!--ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons-->
      <ion-nav-title class="title">Información</ion-nav-title>
    </ion-nav-bar>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <h2>Versión</h2>
        <p>1.0.0</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
