<ion-view>
  <ion-header-bar>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-title class="title">{{listLabel}}</ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-more" ng-click="openPopover($event)"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>
  <ion-content>
    <ion-list show-delete="editTodo.showEdit" show-reorder="editTodo.showEdit">
      <ion-item ng-repeat="todo in todos" ng-click="updateTodo($index)">
        <ion-delete-button class="ion-minus-circled" ng-click="removeTodo($index)"></ion-delete-button>
        {{ todo.name }}
        <ion-reorder-button class ="icon ion-navicon" on-reorder="moveTodo($fromIndex,$toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
    <ion-content ng-click="editTodo.showEdit = false"></ion-content>
  </ion-content>
</ion-view>
