<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="mainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-positive">
        <button class="button" ng-click="delTodo.showDel = !delTodo.showDel">Edit</button>
        <h1 class="title">To do list</h1>
        <button class="button" ng-click="addTodo()">Add</button>
      </ion-header-bar>
      <ion-content>
        <ion-list class="list" show-delete="delTodo.showDel">
          <ion-item ng-repeat='todo in todos' class="list-item" ng-click="updateTodo($index)">
            <ion-delete-button class="ion-minus-circled" ng-click="removeTodo($index)"></ion-delete-button>
            {{todo.name}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
